/* Header */
.header {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
}

.header-content {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.logo img {
    float: left;
    width: 140px;
}

.options-header {
    float: right;
}

.search-box {
    border: 0px;
    border-radius: 5px 0 0 5px;
    width: 300px;
    height: 30px;
    font-size: 14px;
    background-color: #EFEFEF;
    margin: 0px;
    padding: 0px 10px;
    float: left;
    outline: none;
}

.search-button {
    border: 0px;
    border-radius: 0 5px 5px 0;
    width: 30px;
    background-color: #005F8E;
    height: 30px;
    margin: 0px;
    float: left;
}

.login-links ul {
    list-style: none;
    margin: 0;
    float: right;
}

.login-links ul li {
    margin: 0px 0px 0px 5px;
    display: inline;
}

.login-links ul li a {
    color: #005F8E;
    font-weight: bold;
}

.nav-bar {
    background-color: #0095DF;
    width: 100%;
    height: 40px; 
}

.nav-content {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.nav-content ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

.nav-content ul li {
    display: inline;
}

.nav-option {
    height: 40px;
    float: left;
    padding: 0px 8px;
    background-color: #0095DF;
    color: white;
}

.nav-option:hover {
    background-color: #005F8E;
}

.nav-option span { 
    line-height: 40px;
    vertical-align: middle;
}

/* General */

section {
    max-width: 1240px;
    width: 100%;
    margin: 20px auto;
}


body {
    background-color: #F8F8F8;
}

/* Avisos */
.avisos {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.aviso {
    width: 100%;
    height: 400px;
    background-size: cover;
    position:relative;
}

.texto-aviso {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    color: white;
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

/* Noticias */

.noticias {
    width: 100%;
}

.row-noticias {
    width: 100%;
    background-color: #EFEFEF;
    margin: 0; 
    padding: 0;
}

.row-noticias .col {
    margin: 0;
}

.noticia-principal {
    background-color: gray;
    cursor: pointer;
    margin:0px 15px;
    background-size: cover;
    height: 600px;
    transition: 2s;
}

.noticia-principal:hover {
    
}

.noticia-normal {
    background-color: gray;
    margin:0px 15px;
    height: 600px;
}

.noticia {
    background-color: gray;
    cursor: pointer;
    height: 300px;
    transition: 2s;
}

.noticia:hover {
    
}

/* Inscripcion */

.inscripcion-box {
    background-color: #FFFFFF;
    width: 70%;
    padding: 20px; 
}


.inscripcion-content {
    max-width:700px;
}

.carreras { 
    width: 100%;
    height: 500px;
}

.carrera {
    width: 45%;
    height: 240px;
    margin:0px 5px 5px 0px;
    background-color: red;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.selected {
    outline: 3px solid #0095DF;
    box-shadow: 0px 0px 20px #0095DF;
}

.btnInscripcion {
    text-align: right;
}

.inputInscripcion {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #EFEFEF;
}

.inputInscripcion:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #EFEFEF;
}


.texto-gracias {
    text-align: left;
}

.ingresar-box {
    background-color: #FFFFFF;
    width: 50%;
    padding: 20px 50px; 
}

/* FORO */

.foro-box {
    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
}

.foro-box table {
    width: 100%;
}

.header-table {
    background-color: #005F8E;
    color: white;

    padding: 5px;
}

.tema {
    padding: 0;
}

.titulo {
    background-color: #c0c0c0;
    padding: 5px;
    border: 1px solid black;
}

.subtemas {
    width: 100%;
    min-height: 250px;
    border: 1px solid black;
}

.subtemas ul {
    list-style: none;
    padding: 5px;
}

.tema .options {
    padding: 5px;
}

.textArea {
    min-height: 150px;
    max-height: 300px;
}

.titulo-subtema {
    font-size: 18px;
    font-weight: bold;
}

.fecha-subtema {
    color: gray;
}

.box-subtema {
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
}

.box-autor {
    background-color: #c4c4c4;
    border-radius: 5px 0px 0px 5px;
}

.box-descripcion {
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0px;
}

.box-preview-sub {
    border: 1px solid black;
}

.fecha-preview-sub {
    color: gray;
}